.aboutHero{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 90%;
    
    @media screen and (min-height: 800px) {
        margin: 4rem auto 3rem;
        height: calc(100vh - 18rem);
    }
    
    @media screen and (min-width: 768px){
        width: 35rem;
    }

    .profilePicture{
        width: 12rem;
        height: 12rem;
        margin-top: 1rem;
        background: #d4c0ff;
        border-radius: 50%;

        @media screen and (min-width: 768px){
            width: 15rem;
            height: 15rem;
        }
        
        .img{
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .profileDescription{
        .title{
            font-family: var(--font-text);
            font-size: var(--thirtyTwo);
            font-weight: 600;
            line-height: 2rem;
            text-align: center;
            color: var(--white);
            margin-top: 1.5rem;
        }

        .text{
            margin-top: 1rem;
            font-size: var(--twenty);
            line-height: 1.5rem;
            color: var(--white);
        }
    }
    .btnPrimary{
        width: 13rem;
        height: 3rem;
        margin-top: 1rem;
        margin-bottom: .75rem;
    }
}