.aboutHero{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 90%;
    
    @media screen and (min-height: 800px) {
        margin: 4rem auto 3rem;
        height: calc(100vh - 18rem);
    }
    
    @media screen and (min-width: 768px){
        width: 35rem;
    }

    .profilePicture{
        width: 12rem;
        height: 12rem;
        margin-top: 1rem;
        background: var(--purple);
        border-radius: 50%;

        @media screen and (min-width: 768px){
            width: 15rem;
            height: 15rem;
        }
        
        .img{
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .profileDescription{
        .title{
            font-family: var(--font-text);
            font-size: var(--thirtyTwo);
            font-weight: 500;
            line-height: 2rem;
            text-align: center;
            color: var(--white);
            margin-top: 1.5rem;

            .wave {
                animation: wave-animation 2.5s infinite;
                display: inline-block;
                transform-origin: 70% 70%;
                animation-timing-function: cubic-bezier(0.36, 0.45, 0.63, 0.53);
              }
              
              @keyframes wave-animation {
                0% {
                  transform: rotate(15deg);
                }
                50% {
                  transform: rotate(70deg);
                }
                75% {
                  transform: rotate(-15deg);
                }
                100% {
                  transform: rotate(15deg);
                }
              }

            .colorText{
                color: var(--purple);
            }
        }

        .text{
            margin-top: 1rem;
            font-size: var(--eighteen);
            line-height: 1.5rem;
            color: var(--white);
        }
    }
    .btnPrimary{
        width: 13rem;
        height: 3rem;
        margin-top: 1rem;
        margin-bottom: .75rem;
    }
}