.contactSection{
    display: grid;
    place-items: center;
    margin: 5rem auto 3rem;
    justify-content: center;
    text-align: center;
    width: 90%;


    @media screen and (min-width: 768px){
        width: 35rem;
    }
    
    .socialLinks{
        display: flex;
        width: 8rem;
        justify-content: space-between;
        margin-top: .75rem;
    }
}