.contactSection{
    display: flex;
    flex-direction: column;
    margin: 5rem auto 0rem;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 90%;
    // height: calc(100vh - 18rem);


    @media screen and (min-width: 768px){
        width: 35rem;
    }
    
    .socialLinks{
        display: flex;
        width: 8rem;
        justify-content: space-between;
        margin-top: .75rem;
    }
}