.header {
    padding: 2rem 1rem;

    @media screen and (min-width: 768px) {
        padding: 2rem 2rem;
    }

    .navItems {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logoName {
            font-family: var(--font-text);
            font-size: 1.15rem;
            font-weight: 500;
            line-height: 1.5rem;
            color: var(--black);
        }

        .activeLogo {
            font-family: var(--font-text);
            font-size: 1.15rem;
            font-weight: 500;
            line-height: 1.5rem;
            color: var(--hotPink);
        }

        .navList {
            display: flex;

            .navItem {
                &:first-child {
                    margin-right: 1rem;
                }

                .navLink {
                    font-family: var(--font-text);
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    color: var(--black);
                }

                .activeLink {
                    font-family: var(--font-text);
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    color: var(--hotPink);
                }
            }
        }
    }
}
