.header {
    padding: 1.5rem 2rem;

    .navItems {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logoName {
            font-family: var(--font-text);
            font-size: var(--eighteen);
            font-weight: 500;
            line-height: 1.5rem;
            color: var(--black);
        }

        .activeLogo {
            font-family: var(--font-text);
            font-size: var(--eighteen);
            font-weight: 500;
            line-height: 1.5rem;
            color: var(--hotPink);
        }

        .navList {
            display: flex;

            .navItem {
                &:first-child {
                    margin-right: 1rem;
                }

                .navLink {
                    font-family: var(--font-text);
                    font-size: var(--fourteen);
                    font-weight: 500;
                    line-height: 1.5rem;
                    color: var(--black);
                }

                .activeLink {
                    font-family: var(--font-text);
                    font-size: var(--fourteen);
                    font-weight: 500;
                    line-height: 1.5rem;
                    color: var(--hotPink);
                }
            }
        }
    }
}
