.aboutHero{
    display: grid;
    place-items: center;
    margin: 1rem auto;
    justify-content: center;
    text-align: center;
    width: 90%;

    @media screen and (min-width: 768px){
        width: 35rem;
    }

    .profilePicture{
        width: 12rem;
        height: 12rem;
        margin-top: 1rem;

        @media screen and (min-width: 768px){
            width: 15rem;
            height: 15rem;
        }
        
        .img{
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .profileDescription{
        .title{
            font-family: var(--font-text);
            font-size: var(--thirtyTwo);
            font-weight: 600;
            line-height: 2rem;
            text-align: center;
            color: var(--white);
            margin-top: 1.5rem;
        }

        .text{
            margin-top: 1rem;
            font-size: var(--twenty);
            line-height: 1.5rem;
            color: var(--white);
        }

        .buttonWrap{
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            margin-bottom: .75rem;

            .btnPrimary{
                width: 50%;

                @media screen and (min-width: 768px){
                    width: 13rem;
                }
            }
        }
    }
}