.aboutHero{
    display: grid;
    place-items: center;

    .profileImg{
        width: 12rem;
        height: 12rem;
        object-fit: cover;
        border-radius: 50%;
        margin-top: 2rem;
    }
}