footer{
    margin-top: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    // position: absolute;
    // bottom: 0rem;
    // transform: translateX(50%);
    // right: 50%;
    // width: 100%;

    .text{
        font-size: var(--sixteen);
        font-weight: 500;
        margin-top: 0;
    }
    
    .footerText{
        font-size: var(--sixteen);
        font-weight: 500;
        color: var(--white);
        margin-left: 5rem;
    }
}