footer{
    margin-top: 1rem;
    padding: 0rem 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
        
    background: var(--litePink);
    border: 1px solid var(--hotPink);
    border-left: 0;
    border-right: 0;

    .footerText{
        font-size: var(--twenty);
        margin-top: 1rem;
        color: var(--hotPink);
        margin-left: 3rem;
    }
}