.workSection{
    width: 90%;
    margin: 1.5rem;

    @media screen and (min-width: 800px) {
        width: 100%;
        display: grid;
        place-items: center;
        margin: 2rem auto 2rem;
    }

    
    .head{
        margin-bottom: 3rem;

        .title{
            margin-top: 0;
        }
        
        .text{
            text-align: center;
    
            @media screen and (min-width: 768px){
                width: 35rem;
            }
        }
    }

    .subhead{
        margin-bottom: 2rem;

        @media screen and (min-width: 768px) {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        .text{
            text-align: center;
    
            @media screen and (min-width: 768px){
                width: 35rem;
            }
        }
    }


    .workList{
        display: flex;
        flex-direction: column;

        .workWrap{
            margin-bottom: 3rem;
    
            @media screen and (min-width: 800px) {
                width: 70%;
                margin-bottom: 2rem;
                
            }
            
            
            .projectDescription{
                display: flex;  
                flex-direction: column;
                padding: 1rem;
                background: rgb(0 0 0 / 79%);
                margin: 1rem;
                
                .projectName{
                    text-transform: uppercase;
                    font-size: var(--eighteen);
                    font-weight: 600;
                }
                
                .projectLang{
                    font-size: var(--sixteen);
                    color: var(--purple);
                    margin-bottom: .25rem;
                }
                
                .projectDetails{
                    font-size: var(--sixteen);
                    margin-bottom: 1rem;
                }
                
                .btnPrimary{
                    width: 8rem;
                    height: 3rem;
                    display: grid;
                    place-items: center;
                    text-align: center;
                    border-radius: 16px;
                    font-size: var(--eighteen);
                    transition: all 0.3s;
                    
                    &:hover {
                        transform: scale(.9, .9);
                    }
                }
                
                .btnSecondary{
                    width: 10rem;
                    height: 3rem;
                    display: grid;
                    place-items: center;
                    text-align: center;
                    border-radius: 16px;
                    font-size: var(--eighteen);
                    margin-left: 1rem;
                    transition: all 0.3s;
                    
                    &:hover {
                        transform: scale(.9, .9);
                    }
                }
                
                @media screen and (min-width: 800px) {
                    height: 100%;
                }
            }
        }
        .one{
            background-image: url(../../assets/images/Journalsyourway.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;    
        }
        .two{
            background-image: url(../../assets/images/coloringcultures.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .three{
            background-image: url(../../assets/images/C1oudnimi.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .four{
            background-image: url(../../assets/images/BeBlended.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .five{
            background-image: url(../../assets/images/FreedomAction.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .six{
            background-image: url(../../assets/images/GithubUserSearch.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .seven{
            background-image: url(../../assets/images/Fatbossgambling.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .eight{
            background-image: url(../../assets/images/Github-repo-display.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .nine{
            background-image: url(../../assets/images/React-Calculator.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .ten{
            background-image: url(../../assets/images/Thevideogamevault.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .eleven{
            background-image: url(../../assets/images/Funconnect.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

}
